/bin/
/pkg/
/src/cmd/cgo/zdefaultcc.go
/src/cmd/dist/dist
/src/cmd/internal/objabi/zbootstrap.go
/test/issue18902b.o
/test/runtest.exe
/src/cmd/go/internal/cfg/zdefaultcc.go
/src/cmd/go/internal/cfg/zosarch.go
/src/go/build/zcgo.go
/src/runtime/internal/sys/zversion.go
/src/cmd/go/testgo
