/.debhelper/
/debhelper-build-stamp
/files
/golang-1.10/
/golang-1.10.debhelper.log
/golang-1.10-doc/
/golang-1.10-doc.debhelper.log
/golang-1.10-doc.dirs
/golang-1.10-doc.install
/golang-1.10-doc.links
/golang-1.10-doc.lintian-overrides
/golang-1.10-doc.substvars
/golang-1.10-go/
/golang-1.10-go.debhelper.log
/golang-1.10-go.dirs
/golang-1.10-go.install
/golang-1.10-go.links
/golang-1.10-go.lintian-overrides
/golang-1.10-go.postinst
/golang-1.10-go.substvars
/golang-1.10-src/
/golang-1.10-src.debhelper.log
/golang-1.10-src.install
/golang-1.10-src.lintian-overrides
/golang-1.10-src.substvars
/golang-1.10.substvars
